/* font/text styles */
h1, h2 {
	font-family: 'Lato', sans-serif;
}

li, button, textarea, p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}

.strikethrough {
	text-decoration: line-through;
}

.margin-top {
	margin-top: 5px;
}

/* header & body styles */

.title {
	font-size: 40px;
	text-decoration: underline;
	margin-bottom: 15px;
}

body {
	background: linear-gradient(45deg, #e3e7e8, #b9ccea);
}

/* text area styles */
.text-area-title {
	text-decoration: underline;
	font-size: 16px;
	margin-top: 10px;
}

/* todo lists styles */
.to-do-list, .done-list {
	height: 250px;
	width: auto;
	background-color: #fff;
}

/* button styles */
.add-todo-btn {
	border-style: none;
	background-color: #add8e6;
	color: #fff;
	font-weight: 700;
	margin-bottom: 22px;
}

.add-todo-btn:hover {
	background-color:#66a5b9;
	color: #fff;
}

.edit-btn {
	border-style: none;
	background-color: #40e0d0;
	color: #fff;
	margin-right: 3px;
}

.edit-btn:hover {
	background-color: #20abab;
	color: #fff;
}

.done-btn {
	border-style: none;
	background-color: #90ee90;
	color: #fff;
	margin-right: 3px;
}

.done-btn:hover {
	background-color: #51a551;
	color: #fff;
}

.delete-btn {
	border-style: none;
	background-color: #ffc0cb;
	color: #fff;
	margin-right: 3px;
}

.delete-btn:hover {
	background-color: #d4818f;
	color: #fff;
}
